body {
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.AppHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #ccc;
    height: 10vh;
}

.AppTitle {
    display: flex;
    width: 51.4vw;
    border-right: 1px solid #ccc;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
}

.AppRoom {
    position: relative;
    display: flex;
    width: 40vw;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    height: 100vh;
    top: 45vh;
}

.AppBody {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1;
    right: 36em;
    top: 3.6em;
}

.MessageWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 45vw;
    flex: 1;
    top: 90vh;
}